/*Header + Nav*/

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nav_header ul a li{
    padding: 10px;
}

.nav_header{
    width: 100%;
    text-align: center;   
}

.nav_header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0px;
    margin: 0px;
}

.nav_header li{
    flex-basis: 100%;
    margin: 5px;
}

/*Fiche Identité*/

.ficheidentité {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ficheidentité article{
    flex-basis: 100%;
    margin: 10px;
    padding: 8px;
}

.fiche_header {
    border: 1px solid red;
    display: flex;
    flex-wrap: nowrap;
}

/*Les fiches d'indzentité s'empile si écran trop petit*/
@media (min-width: 768px) {
    .ficheidentité article {
        flex-basis: 30%;
    }
}

