/*Header + Nav*/

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nav_header {
    width: 100%;
    text-align: center;
}

.nav_header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin: 0;
}

.nav_header li {
    flex-basis: 100%;
    margin: 5px;
}

.nav_header ul a li {
    padding: 10px;
}

/*Fiche Identité*/

.ficheidentité {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ficheidentité article {
    flex-basis: 100%;
    margin: 10px;
    padding: 8px;
}

.fiche {
    display: flex;
    flex-wrap: nowrap;
}


/*Les fiches d'identité s'empilent si écran trop petit*/
@media (min-width: 768px) {
    .ficheidentité article {
        flex-basis: 30%;
    }
}

/*Main*/

.maintitle {
    margin-top: 20px;
    margin-left: 50px;
}

.desctitle {
    margin: 20px 50px 30px 50px;
}

main {
    flex: 1;
    margin: 5px;
    padding: 5px;
}

/*Footer*/
.footer {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin-top: auto;
}

.nav_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav_footer ul {
    padding-left: 0;
}

.section_footer {
    margin: 5px 30px 0 30px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*Accueil*/

.fiche_accueil {
    display: flex;
    flex-wrap: wrap;
}

.fiche_accueil article {
    flex-basis: 75%;
    margin: 10px;
    padding: 8px;
}

.fiche_entreprise_informatique {
    display: flex;
    flex-wrap: nowrap;
}

.fiche_organisation_publiques {
    display: flex;
    flex-wrap: nowrap;
}

.fiche_associations {
    display: flex;
    flex-wrap: nowrap;
}

.fiche_autre_entreprises {
    display: flex;
    flex-wrap: nowrap;
}

.fiche_accueil article:nth-child(odd) { /*Impaire*/
    margin-left: 0;
    margin-right: auto;
}

.fiche_accueil article:nth-child(even) { /*paire*/
    margin-left: auto;
    margin-right: 0;
    text-align: right
}

.fiche_accueil article:nth-child(even) .fiche_text {
    margin-right: 10px;
    margin-left: 0px;
}

.fiche_accueil article:nth-child(even) .fiche_img {
    margin-left: 15px;
    margin-right: 0px;
}
/* modif louis fiche points forts / points faibles */
.Comparaison_orgapublic {
    width: 94%; 
    margin: 20px auto ; 
    padding: 10px;

}