/*Setup*/
html {
    font-family: "Nunito", serif;
    font-style: normal;
}

body h1, h3 {
    margin: 0 0 14px
}

body {
    padding: 0;
    margin: 0;
    background-color: lightgrey;
    overflow-x: hidden; /* enleve de defillement sur le cote horizontal pas sure sure que ce soit bien mais ca fonctionne */
}

h1 {
    font-size: 2.5em;
    font-weight: 900;
}

h2 {
    font-size: 2em;
    font-weight: 600;
}

h4 {
    font-size: 1em;
    font-weight: 700;
}

p {
    font-size: 1.3em;
    font-weight: 600;
}

/*Header + Nav*/
header {
    margin: 10px;
    border-bottom: 1px solid black;
    border-radius: 30px;
    background-color: #FFFFFF; 
}

.nav_header a li {
    list-style:none;
    border: 1px solid #9678d3;
    border-radius: 35px;
    background-color: #9678d3;
    color: black;
    text-align: center;
    font-size: 18px;
    margin: 5px 7px;
    transition-duration: 0.3s;
}

.nav_header a {
    text-decoration: none;
}

.nav_header a li:hover {
    background-color: #ddd;
    color: black;
}

.header_img {
    max-width: 150px;
}

/*Main*/

/*Fiche Identité - Header*/
.ficheidentité article {
    border:1px solid black;
    border-radius: 30px; 
    background-color: white;
    box-shadow: 0px 0px 10px 1px #9678d3;
    filter: blur(2px);
    transition: 0.2S;
}

.ficheidentité article:hover {
    filter: blur(0px);
    transition: 0.2s;
}


.fiche {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: auto;
}

.fiche_img {
    width: 150px;
    margin-right: 15px;
}

.fiche_img img {
    max-width: 100%;
    height: auto;
}

.fiche_text {
    flex: 1;
}

.fiche_header_text {
    margin-bottom: 10px;
    font-size: 2em;
    color: red;
}
/*Fiche Identité - Body*/
.fiche_body {
    margin-top: 10px;
}

.fiche_body_text {
    margin: 0px;
    font-size: 1em;
    color: blueviolet;
    margin-bottom: 5px;
}

/*Footer*/

.footer {
    border-top: 1px solid black;
    background-color: #FFFFFF;
}

.footer li {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}
.footer a {
    color: black;
}
.footer span {
    font-size: 0.8em
}

.section_footer h4 {
    margin-top: 2px;
    margin-bottom: 4px;
    
}

/*Responsive*/
@media (max-width: 768px) {

    .nav_header ul {
        flex-direction: column;
    }

    .ficheidentité {
        grid-template-columns: 1fr;
    }

    .ficheidentité article {
        filter: none;
    }

    p {
        font-size: 1em;
    }
}

/*Accueil - Header*/
.fiche_accueil article {
    width: 80%;
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px #9678d3;
    filter: blur(2px);
    transition: 0.2s;
}

.fiche_accueil article:hover {
    filter: blur(0px);
    transition: 0.2s;
}

/*-- Celestin --*/
/*FAQ*/
.faq {
    padding: 20px;
    border-radius: 30px;
    margin: 20px 35px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px #9678d3;
}

.faq h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333333;
}

.faq_item {
    background-color: #FFFFFF;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

.faq_item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #9678d3;
}

.faq_item p {
    font-size: 1em;
    color: #666666;
}
/*Fin marque*/

/* modification louis tableau points forts / points faibles */
.Comparaison_orgapublic h2{
    font-size : 2em;
    
}
.Comparaison_orgapublic {
    margin: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px 1px #9678d3;
    border-radius: 30px; 

}


.orgapublic_table {
    border-collapse: separate;
    border-spacing: 0;
}

.orgapublic_table th, .orgapublic_table td {
    border: 1px solid #ddd;
    padding: 10px;

}
.orgapublic_table th {
    background-color: #9678d3;
    color: white;
}
.orgapublic_table th:first-child {
    border-top-left-radius: 30px;
}

.orgapublic_table th:last-child {
    border-top-right-radius: 30px;
}

.orgapublic_table tr:last-child td:first-child {
    border-bottom-left-radius: 30px;
}

.orgapublic_table tr:last-child td:last-child {
    border-bottom-right-radius: 30px;
}

/* tableau entreprise info Stanislas */

.taux_recrutement{
    margin:20px;
    padding:10px;
    background-color:#f9f9f9;
    box-shadow: 0px 0px 10px 1px #9678d3;
    border-radius: 30px;
}

.recru_entrep_info {
    border-collapse:separate;
    border-spacing: 0;
    table-layout:auto;
    width: 100%;
}

.recru_entrep_info th {
    background-color: #9678d3;
    color:white;
}

.recru_entrep_info th, .recru_entrep_info td{
    border: 1px solid #ddd;
    padding:15px;
}

.recru_entrep_info tr:last-child td:first-child {
    border-bottom-left-radius: 30px;
}

.recru_entrep_info tr:last-child td:last-child {
    border-bottom-right-radius: 30px;
}

/* -- Bastian --*/
/* Informations complementaire */

.imformations_complementaire {
    border:1px solid black;
    border-radius: 30px; 
    background-color: white;
    box-shadow: 0px 0px 10px 1px #9678d3;
    padding:10px;
    margin:30px;
}

.tableau_comparaison {
    border-collapse:separate;
    border-spacing: 0;
    table-layout:auto;
    width: 100%;
}

.tableau_comparaison thead td {
    background-color: #9678d3;
    color:white;
    font-weight: bold;
    text-align: center;
}

.tableau_comparaison td, .tableau_comparaison td{
    border: 1px solid #ddd;
    padding:15px;
}
