/*Setup*/
html {
    font-family: 'Arial', sans-serif;
}

body h1, h3 {
    margin: 0 0 14px
}

body {
    padding: 0;
    margin: 0;
    background-color: lightgrey;
}

/*Header + Nav*/
header {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.nav_header {
    text-align: center;
}

.nav_header a li {
    list-style:none;
    border: 1px solid #9678d3;
    border-radius: 35px;
    background-color: #ddd;
    color: black;
    text-align: center;
    font-size: 18px;
    margin: 5px 7px;
    transition-duration: 0.3s;
}

.nav_header a {
    text-decoration: none;
}

.nav_header a li:hover {
    background-color: #9678d3;
    color: white;
}

.header_img {
    max-width: 150px;
}

/*Fiche Identité - Header*/
.ficheidentité article {
    border:1px solid black;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px #9678d3;
    filter: blur(1px);
    transition: 0.2S;
}

.ficheidentité article:hover {
    filter: blur(0px);
    transition: 0.2s;
}

/*Le blur est désactivé si petit écran*/
@media (max-width: 767px) {
    .ficheidentité article {
        filter: none;
    }
}

.fiche_header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.fiche_header_img {
    width: 150px;
    margin-right: 15px;
}

.fiche_header_img img {
    max-width: 100%;
    height: auto;
}

.fiche_header_title {
    flex: 1;
}

.fiche_header_text {
    margin: 0px;
    font-size: 1.5em;
    color: red;
}
/*Fiche Identité - Body*/
.fiche_body {
    margin-top: 10px;
}

.fiche_body_text {
    margin: 0px;
    font-size: 1em;
    color: blueviolet;
}

/*Image*/


/*Main*/
main {
    margin: 5px;
    padding: 5px;
}

/*Footer*/

.footer {
    border-top: 1px solid black;
}

.footer li {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}




